@use '../../style/service.scss' as s;

.icon {
  @include s.icon;
}

.receive__form {
  width: 100%;
}

.list {
  .box {
    align-items: start;
  }
  width: 100%;
  .list__item {
    padding: 1em;

    &:hover {
      background-color: s.color('gray');
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
