.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
}
.box .title {
  font-size: 2.625rem;
  font-weight: 600;
}
.box .subtitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.black {
  color: #121212;
}