@mixin form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  gap: 4rem;
  height: 100%;
}

@mixin form__content {
  width: 100%;
  max-width: 393px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 2rem;
}

@mixin form__message {
  font-size: 1rem;
  color: #121212;

  a {
    padding-left: 0.5rem;
    color: #775ce5;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
    &:hover {
      font-weight: 700;
    }
  }
}
