.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation__button {
  width: 24px;
  height: 24px;
}
.navigation__title {
  font-size: 1.25rem;
  font-weight: 500;
}
.navigation__title--white {
  color: #fff;
}
.navigation .icon {
  width: 24px;
  height: 24px;
}