@use '../../style/service.scss' as s;

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  position: relative;
  gap: 0.5rem;

  &__title {
    font-size: s.font-size(text-regular);
    font-weight: 700;
    color: s.color('text');
  }

  &__input {
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid s.color('gray');
    padding: 1.5rem 1.5rem;
    font-size: s.font-size(text-regular);
    color: s.color('text');
    // outline: none;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      border-color: s.color('main');
    }
  }
  &__error {
    color: s.color('red');
  }
  &__icon {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
  }
}
